vendor
cmd/mp3Downloader/mp3Downloader
cmd/mp3Downloader/mp3Downloader.exe
*.mp3

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store
.vscode/

.env
config.yml
config.yaml
.config